.DetailTechnoContainer{
  height: 70vh;
  width: 60vw;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,.24);
}

.DetailTechnoImage{
  height: 200px;
  width: 200px;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,.24);
}