.CardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  min-height: 80vh;
}

.FilterButtonContainer{
  display: flex;
  justify-content: center;
}

.TechnoSelect{
  margin: 25px 0 25px 0;
  height: 30px;
}

.FilterBG{
/* background :linear-gradient(80deg, #e38a61, rgb(42, 23, 1)); */
background-color: rgb(14, 13, 13);
}


