.Header-container {
     background-color: #404654; 
    height: 150px;
    color:white;
    text-align: center;
    margin:0!important;
    padding-top: 5px;
    background :linear-gradient(48deg, rgb(7, 5, 5), white);
    
    width: 100%;
}

.Header-Title {
    font-family: Yeon Sung, sans serif ;
    font-size: 60px;
    margin: 0;
}

.slogan-title{
    margin: 4px;
    color: white;
    font-size: 15px;
}
