.TechnoCardContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid black;
  height: 300px;
  width: 300px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 24px 0 rgba(0,0,0,.24);
 
}

.TechnoImage{
  width: 150px;
  height: 150px;
}